img {
  margin-top: 10px;
}

.logo-paw {
  display: block;
}

#map {
  width: 600px;
  height: 400px;
}

#bone {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#zipInput {
  font-family: 'Open Sans Condensed';
  font-size: 17px;
}
