.icon-menu3 {
  font-size: 2.5em;
  margin: 1%;
  display: block;
}

.nav ul {
  display: none;
  list-style:none;
  padding-left:0;
}

.nav:hover ul {
  display: block;
}

@media only screen and (min-width: 640px) {
  .icon-menu3 {
    display: none;
  }
  .nav ul {
    display: block;
  }
  .nav li {
    display: inline-block;;
  }

  body {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  .circularImage {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

  /* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
}
